<div class="item-container">
  <h2>Item List</h2>

  <div class = add-search>
    <div class="search-container">
      <input matInput placeholder="Search by Item Name or ID" [(ngModel)]="searchQuery" (input)="applyFilter()" />
    </div>
    
    <div class="button-container">
      <button mat-raised-button class="custom-add-button" (click)="openAddItemDialog()">
        <mat-icon>add</mat-icon> Add Item
      </button>    
    </div>
  </div>
 

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Number Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> No </th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- id Column -->
    <ng-container matColumnDef="itemID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.itemId}} </td>
    </ng-container>

    <!-- Item Name Column -->
    <ng-container matColumnDef="itemName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
        <div class="item-name-cell">{{element.itemName}}</div>
      </td>
    </ng-container>

    <!-- Item Stock Column -->
    <ng-container matColumnDef="itemStock">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.itemStock}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency:'Rp.' }} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="viewItemDetails(element)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="openUpdateDialog(element.itemId)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteItem(element.itemId)" class="delete-button">
          <mat-icon>delete</mat-icon>
        </button>        
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
